.logo{
  background-color: black;
}
#map {

height: 100%;
/* Full height */
width: 100%;
/* Full width */
}



.sidebar {
height: 100vh; /* Oldalsáv magassága 100% */

background-color: #801212; /* Zöld háttér */
color: rgb(10, 2, 2); /* Fehér szöveg */
/* padding: 0px;  Padding a sáv körül */
/*  position: fixed;  Rögzített pozíció */
}
.grid-container {
display: grid; /* Grid aktiválása */
grid-template-columns: 400px 1fr; /* Oldalsáv (200px) és fő tartalom (1 frakció) */
grid-template-rows: auto 1fr auto; /* Felső sor (fejléc), középső (tartalom), alsó sor (lábléc) */
gap: 00px; /* Rés a rácselemek között */
height: 100vh; /* Teljes magasság */
}


.header {
grid-column: 1 / 3; /* Kiterjed a teljes szélességre */
background-color: lightgray;
padding: 10px;
text-align: center;  
display: flex; /* Flexbox aktiválása a fejlécben */
justify-content: space-between; /* Elek szélekre igazítása */

}

.sidebar {
background-color: lightcoral;
padding: 10px;
}

.main {
background-color: lightgreen;
padding: 10px;
}

.footer {
grid-column: 1 / 3; /* Kiterjed a teljes szélességre */
background-color: lightblue;
padding: 10px;
text-align: center;}

.inline-container {
   display: flex; /* Enable Flexbox for inline items */
}

.inline-item {
   margin: 0 60px; /* Space between inline items */}